/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#btn-login {
  background-color: #f0a500;
  color: white;
}

.card_www{
  width: 350px;
  height: 430px;

  border-radius: 0px !important;
}

.singUp{
  cursor: pointer;
}
/* 
.button_row{
  margin-top: 95px;
} */
